.DS_Store
*.exe
*.obj
*.bin
/Java/OrdenacaoJava/nbproject/private/
/Java/OrdenacaoJava/build/
roda
/GUI-Ordenacao/nbproject/private/
/GUI-Ordenacao/build/
/4-pesquisa/Java/NoNetBeans/nbproject/private/
/4-pesquisa/Java/NoNetBeans/build/
/4-pesquisa/Java/TrabalhoPesquisaTextual/nbproject/private/
/4-pesquisa/Java/TrabalhoPesquisaTextual/build/